%div{:id=>@id, :class=>['imageblock', @style, role],
    :style=>((css_style = [("text-align: #{attr :align}" if attr? :align),
                       ("float: #{attr :float}" if attr? :float)].compact * '; ').empty? ? nil : css_style)}
  - if attr? :interactive
    .content{:id=>(attr :interactive)}
      .interactiveimage
    - if title?
      .title=captioned_title
      %script{:type=>"text/javascript"}="interactiveImages.#{attr :interactive}=#{{:name=>(attr :interactive), :width=>(attr :width), :height=>(attr :height), :title=>(title), :alt=>(attr :alt)}.to_json}" 
  - else
    .content
      - if attr? :link
        %a.image{:href=>(attr :link)}
          %img{:src=>image_uri(attr :target), :alt=>(attr :alt), :width=>(attr :width), :height=>(attr :height)}
      - else
        %img{:src=>image_uri(attr :target), :alt=>(attr :alt), :width=>(attr :width), :height=>(attr :height)}
    - if title?
      .title=captioned_title
